         header {
            background-color: ;  #FFFFFF;
            color: #ffff text-aligh: center;
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
        }

        main {
            background-color: #f3f2f2;
            color: #f7f7fc max-width 800px;
            margin: 0 auto;
            padding: 16px;
        }
        article{
            display: flex;

        }

        img {
            width: 80px;
            height: 80px
        }

        .artigo-autor {
            font-weight: bold;
        }